# Ignore all files in any "dataset" directory
dataset/

# Ignore all files in any "unknown" directory
unknown/

# Ignore all files in any "model demo" directory
model demo/

# Ignore all files in any "gan_model_image" directory
gan_model_image/

# Ignore all files in any "gan_model_image" directory
training_checkpoints/

# Ignore all files in any "env" directory
.env

# Ignore all files in any "test_gan" directory
test_gan/